.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    color: var(--COLOR_WHITE);
}

.container {
    display: flex;
    flex-direction: row;
    padding: 8px;
}

.boxDist {
    display: flex;
    flex-direction: column;
    padding-right: 8px;
}

.distance {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: var(--COLOR_WHITE);
    text-align: center;
    padding-bottom: 8px;
}

.arrow {
    color: var(--COLOR_GRAY);
    align-self: stretch;
}

.asteroid {
    flex-shrink: 0;
}

.boxName {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
}

.name {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-decoration-line: underline;
    color: var(--COLOR_WHITE);
    padding-bottom: 2px;
}

.boxSize {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.diameter {
    width: 12px;
    height: 12px;
}

.size {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: var(--COLOR_WHITE);
}

.boxOrder {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.button {
    display: flex;
    padding: 2px 11px;
    align-items: center;
    gap: 2px;
    border-radius: 16px;
    background: var(--COLOR_BTN_START);
}

.hoverButton {
    display: flex;
    padding: 2px 11px;
    align-items: center;
    gap: 2px;
    border-radius: 16px;
    background: var(--COLOR_ORANGE);
}

.titleBtn {
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1px;
    color: var(--COLOR_ORANGE-TITLE);
}

.hoverTitle {
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1px;
    color: var(--COLOR_WHITE);
}

.linkItem {
    text-decoration: none;
}