.order {
    max-width: 1025px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    color: var(--COLOR_WHITE);
}

.lists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.footer {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: var(--COLOR_WHITE);
    position: fixed;
    bottom: 0;
    left: 16px;
}

.earth {
    display: block;
    object-fit: cover;
    position: fixed;
    top: 12%;
    left: 0;
    z-index: -1;
    width: 536px;
    min-width: 377px;
    height: auto;
}

.linkFromMain {
    cursor: pointer;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: var(--COLOR_WHITE);
    list-style-type: none;
    text-decoration: none;
}